@import url("https://use.typekit.net/gyb2xiw.css");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@500&family=Lato:ital,wght@0,100;0,400;0,900;1,100&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --color-willow-gray-400: #C2C2C3;
  --color-willow-blue---super-light: #F3F9FF;
  --color-willow-blue: #4A7390;
  --text-Willow-color-gray: #4B4C4D;
  --text-Willow-color-blue: #4A7390;
  --text-Willow-color-link: #005589;
}
